@*@model ShortLink.Models.Link*@

@using ShortLink.Models
@model List<Link> 

@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:200px;margin-bottom:200px">
    <div class="col-md-11">
        <div class="form-group">
            <label>Lütfen linkinizi giriniz:</label>
            <input class="form-control" id="txtLink" />
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <button style="margin-top:25px" onclick="Kisalt()" class="btn btn-primary">KISALT</button>
        </div>
    </div>
    <div class="col-md-12 text-center">
        Yeni Kısa Linkiniz: <strong id="KisaLinkSonuc"></strong>
        <hr />
        Kısa Linkinizin Id Numarası: <strong id="txtId"></strong>
        <table style="width:300px">
            <tr>
                <td>
                    @*@for (int i = 0; i < 4; i++)
                    {
                        @Model.Kaan()[i];
                        <br />
                    }
                </td>*@
            </tr>
        </table>

    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Uzun link</td>
                    <td>Kısa link</td>
                </tr>
            </thead>
            <tbody>
                @foreach(Link _link in Model)
            {
                <tr>
                    <td>@_link.LongLink</td>
                    <td>https://localhost:44392/D/In?I=@_link.ShortLink</td>
                </tr>
            }
                

            </tbody>

        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
         function Kisalt() {
            /* alert($("#txtLink").val()); //görmek için*/

            //alert(test);
            var uzunLink = $("#txtLink").val();
            $.ajax({
                type: "POST", //POST
                url: "/Home/LinkKisalt",
                data: "{uzunLink:'" + uzunLink + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result); // inspect te sonuç bildirisini görmek içindir.
                    //$("#KisaLinkSonuc").html(result.nesne2);
                    //$("#txtId").html(result.nesne);
                    //$("#txtList").html(result.nesne3);
                    $("#KisaLinkSonuc").html("https://localhost:44392/D/In?I=" + result);
                       @*window.location.href = @Url.Action("In", "D");*@

                },
                error: function (result) {
                    alert(response.d);
                }
            });
            //$.ajax({
            //    type: "GET", //POST
            //    url: "/Home/LinkKisalt",
            //    data: "{uzunLink:'" + uzunLink + "'}",
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    success: function (result) {
            //        console.log(result); // inspect te sonuç bildirisini görmek içindir.
            //        $("#KisaLinkSonuc").html(result);

            //    },
            //    error: function (result) {
            //        alert(response.d);
            //    }
            //});
        }
    </script>

}